@import "./style/fonts.css";
:root{
    --c700:"Comfortaa-Bold";
    --c400:"Comfortaa-Regular";
    --m700:"Montserrat-Bold";
    --m400:"Montserrat-Regular";
    --r700:"Roboto-Medium";
    --r400:"Roboto-Regular";
    --gold:#F18128;
    --dark:#040D1F;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
body{
    background-color: var(--dark);
}
.header_top{
    background: linear-gradient(90.09deg, #3800AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 20px 0;
    animation: bg 2s linear infinite;
}
@keyframes bg{
    100%{
        filter: hue-rotate(360deg);
    }
}
.header_top_text{
    font-family: var(--c400);
    font-size: 16px;
    line-height: 100%;
    color: white;
    width: 166px;
}
.header_top_img{
    animation: rotate 2s linear infinite;
}
@keyframes rotate{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(180deg);
    }
}
.nav{
    background: #010305CC;
}
.nav_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_logo{
    text-decoration: none;
}
.nav_logo img{
    width: 100px;
}
.nav_logo span{
    font-family: var(--m700);
    font-size: 18px;
    color: white;
}
.nav_list{
    display: flex;
    gap: 18px;
}
.nav_link{
    color: white;
    font-family: var(--m400);
    font-size: 14px;
    text-decoration: none;
    transition: 0.5s;
}
.nav_link span{
    padding: 40px 5px;
    display: block;
}
.nav_link::after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--gold);
    transform: scale(0);
    transition: 0.5s;
}
.nav_link:hover{
    color: var(--gold);
}
.nav_link:hover::after{
    transform: scale(1);
}
.intro{
    background-image: url("../images/intro_bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}
.intro::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #070F19BF;
    z-index: -1;
}
.intro_title{
    font-family: var(--m700);
    font-size: 64px;
    color: white;
}
.intro_text{
    font-family: var(--m400);
    font-size: 16px;
    line-height: 24px;
    color: #C8C8C8;
    margin-top: 30px;
    margin-bottom: 50px;
    max-width: 570px;
    width: 100%;
}
.intro_btns{
    display: flex;
    gap: 30px;
}
.intro_btn,
.btn{
    padding: 17px 48px;
    background-color: var(--gold);
    color: var(--dark);
    font-family: var(--r400);
    font-size: 14px;
    line-height: 12px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.intro_btn{
    background-color: var(--dark);
    color: white;
}